<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Smallprimes - Between</title>
    </head>
    <body>
        <h1>Primes</h1>
        {{template "nav"}}
        <form>
            <div id="form-header">
                <h2>
                    <label>between</label>
                </h2>
            </div>
            <div id="form-error">
                <span> {{.Error}} </span>
            </div>
            <div id="form-input">
                <input type="text" name="x" value="{{.X}}"/>
                <input type="text" name="y" value="{{.Y}}"/>
            </div>
            <input type="submit" value="go" />
        </form>
        <output id="form-result">{{.Result}}</output>
    </body>
</html>
