<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Between</title>
    </head>
    <body>
        <h1>Between</h1>
        <form>
            <label>between</label>
            <input type="text" name="a" />
            <input type="text" name="b" />
        </form>
        <h2>Result</h2>
        <label id="result"></label>
    </body>
</html>
