<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Small Primes - Is</title>
    </head>
    <body>
        <h1>Primes</h1>
        <nav>
            <a href="#">is</a>
            <a href="#">upto</a>
            <a href="#">between</a>
        </nav>
        <form>
            <div id="form-header">
                <h2>
                    <label>is</label>
                </h2>
            </div>
            <div id="form-error">
                <span> {{.Error}} </span>
            </div>
            <div id="form-input">
                <input type="text" name="x" value="{{.X}}" autofocus/>
            </div>
            <input type="submit" value="go" />
        </form>
        <output id="form-result">{{.Result}}</output>
    </body>
</html>
