<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Upto</title>
    </head>
    <body>
        <h1>Upto</h1>
        <form>
            <label>upto</label>
            <input type="text" name="x" />
        </form>
        <h2>Result</h2>
        <label id="result"></label>
    </body>
</html>
